<h2 mat-dialog-title>Инструкции для специалистов по логистике</h2>
<mat-dialog-content class="mat-typography">
    <mat-list role="list">
        <mat-list-item role="listitem">
            <a href="https://docs.google.com/document/d/1oCF440hIfKkp4VHxvh-eP9O1IohhLLLW29N9JRrC4JU/edit">
                Выписка расчетной накладной юр. лицам
            </a>
        </mat-list-item>
        <mat-list-item role="listitem">
            <a href="https://docs.google.com/document/d/1BqrA1OHyBdkuYzRLnPy-A3NdDESvdoRRcVmOckijYDo/edit#">
                Загрузка фото заказов на гугл диск
            </a>
        </mat-list-item>
        <mat-list-item role="listitem">
            <a href="https://docs.google.com/document/d/1USHl3Bng7dqwHebq8MzzYOoKeH4tuLg5azqeE7QYl90/edit">
                Инструкция для водителя
            </a>
        </mat-list-item>
        <mat-list-item role="listitem">
            <a
                href="https://docs.google.com/document/d/1Fs67xUCLM_dwNMiUlBxvLGmR6K1U1wR2Yx05Wu2paac/edit#heading=h.ueh2c03o3rt">
                Логистика
            </a>
        </mat-list-item>
        <mat-list-item role="listitem">
            <a href="https://docs.google.com/document/d/1LqrDOBG5gHJAPv15dSbT4F7bAMaFqRo1ZeaxQOdIEEw/edit">
                Настройка полей в супермаге
            </a>
        </mat-list-item>
        <mat-list-item role="listitem">
            <a href="https://docs.google.com/document/d/1I_feSt3GPmWOhfKghzhzHzj7uYmNHhkUVE06M9kn0Gw/edit#">
                Прием от БП поврежденного товара
            </a>
        </mat-list-item>
        <mat-list-item role="listitem">
            <a href="https://docs.google.com/document/d/1drBM4d-tEF9DUcmd8ISJwtstMFkDsb1G0J0dMqbq3ts/edit">
                Сборка заказа с доставкой БП
            </a>
        </mat-list-item>
        <mat-list-item role="listitem">
            <a href="https://docs.google.com/document/d/10xIqPMgcUcyGOmfnmkkpbdFxsrtw7XwImF8-CbZiTUM/edit">
                Сборка и пробитие заказа с доставкой на кассе самовывоза
            </a>
        </mat-list-item>
        <mat-list-item role="listitem">
            <a
                href="https://docs.google.com/document/d/1vQiS-uyUlfSRmCoBnD5lyusFHeqJGZ2BcRe8wZDqAcw/edit#heading=h.vp8qpd68c6u7">
                Формирование накладных
            </a>
        </mat-list-item>
        <mat-list-item role="listitem">
            <a href="https://docs.google.com/document/u/0/d/1CQWSww9Fb-8LIc02wzQIZM_GdQCvbAE6DIAON7g8I54/edit">
                Печать чека из Assist
            </a>
        </mat-list-item>
        <mat-list-item role="listitem">
            <a
                href="https://docs.google.com/document/d/1K-a2DOL8AX9n2o1CkfkR7HMz6DWIFXs1LA8nT2LDvZk/edit#heading=h.gd0v2s32glvk">
                Создание контрагента в СМ
            </a>
        </mat-list-item>
    </mat-list>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Закрыть</button>
</mat-dialog-actions>