<h2 class="name"> {{client.fIO}} </h2>
<ng-container *ngIf="client.adress === ' , , ,'">
    <h3> Адрес: - </h3>
</ng-container>
<ng-container *ngIf="client.adress !== ' , , ,'">
    <h3> Адрес: {{client.adress}} </h3>
</ng-container>
Заказ №{{orderBodyAnsw.num}} -
<text [ngSwitch]="orderBodyAnsw.name">
    <ng-template ngSwitchCase="8"> Долгиновский </ng-template>
    <ng-template ngSwitchCase="11"> Брест</ng-template>
    <ng-template ngSwitchCase="22"> Каменногорская </ng-template>
    <ng-template ngSwitchCase="25"> Молодечно </ng-template>
    <ng-template ngSwitchCase="21"> Тимирязева </ng-template>
    <ng-template ngSwitchCase="31"> Диамант </ng-template>
    <ng-template ngSwitchCase="33"> Гродно </ng-template>
    <ng-template ngSwitchCase="18">МОМО</ng-template>
    <ng-template ngSwitchCase="24">Независимости</ng-template>
    <ng-template ngSwitchCase="32">Жуково</ng-template>
    <ng-template ngSwitchCase="34">Экспобел</ng-template>
</text>
<br>
Подзаказ №{{orderBodyAnsw.sub_num}}
<br>

<div class="bt-group">
    <!-- (click)="onDecision(requestTask)" -->
    <!-- <button mat-stroked-button> Печать заказа </button> -->
    <button mat-stroked-button
        [printStyle]="{ th: {'border': '1px solid black'}, td: {'border': '1px solid black'}, table: {'border-collapse': 'collapse', 'width': '100%'}}"
        printSectionId="print-order-section" ngxPrint>
        <mat-icon>print</mat-icon>
    </button>
    <!-- <button mat-stroked-button #barcodePrint hidden
        [printStyle]="{ th: {'border': '1px solid black'}, td: {'border': '1px solid black'}, table: {'border-collapse': 'collapse', 'width': '100%'}}"
        printSectionId="print-barcode-section" ngxPrint>
        <img src="../../assets/barcode-icon.png" width="28" />
    </button> -->
    <button mat-stroked-button (click)="openStoragePrintBarcodeDialog()" *ngIf="orderBodyAnsw.belPost">
        <img src="../../assets/barcode-icon.png" width="28" />
    </button>
    <button mat-stroked-button (click)="onClickPauseOrGo()" *ngIf="orderStatus === 'не принят'">Начать сборку</button>
</div>

<div class="form-inline" *ngIf="orderBodyAnsw.belPost">
    <span class="belpost">Штрихкод БЕЛПОЧТА:</span>
    <div class="list-img-box">
        <div class="img-box" *ngFor="let barcode of belpostBarcodes" (mouseenter)="selectBarcode(barcode)"
            (mouseleave)="unSelectBarcode()">
            <button mat-stroked-button class="container" (mouseenter)="onPrintBelpost(barcode)"
                [printStyle]="{ th: {'border': '1px solid black'}, td: {'border': '1px solid black'}, table: {'border-collapse': 'collapse', 'width': '100%'}}"
                printSectionId="print-belpost-barcode-section" ngxPrint>
                <img [src]="imgSource + barcode" width="150" height="50">
            </button>
            <button id="bt-delete" mat-icon-button class="icon-close" *ngIf="selectedBarcode === barcode"
                (click)="openDeleteDialog(barcode, orderBodyAnsw.sub_num)">
                <mat-icon>cancel</mat-icon>
            </button>
        </div>
    </div>

</div>

<div class="table-container">
    <table>
        <tr [ngClass]="userName == 'orlova_v' ? 'custom' : (userName == 'maksimovich_v' ? 'customV' : 'standart')">
            <th *ngFor="let header of displayedColumns">
                {{header}}
            </th>
        </tr>
        <tr *ngFor="let i of dataSource">
            <td>
                {{i.article}}
            </td>
            <td>
                <img src="{{i.foto}}" *ngIf="i.foto" onerror="this.src='../../../../assets/no_photo.png'"
                    style="width: 100px; height: 100px">
            </td>
            <td>
                <mat-list>
                    <mat-list-item *ngFor="let barcode of i.barcode | split:splitElement"> {{ barcode }}
                    </mat-list-item>
                </mat-list>
            </td>
            <td>{{i.name}}</td>
            <td>{{i.measure}}</td>
            <td>{{i.count_e_s}}</td>
            <td>{{i.count_e}}</td>
            <td>
                <mat-form-field appearance="outline">
                    <input autocomplete="off" matInput placeholder="Количество" [(ngModel)]="i.count_g"
                        (input)="onInputNewCount($event.target.value, i)" (focusout)="onFocusout(i)" min="0"
                        max="element.count_e">
                </mat-form-field>
            </td>
        </tr>
    </table>


    <mat-form-field class="example-chip-list" appearance="fill">
        <mat-label style="size: 0.5cm;">Размещение:</mat-label>
        <mat-chip-list #chipList aria-label="Fruit selection">
            <mat-chip *ngFor="let fruit of fruits" [selectable]="selectable" [removable]="removable"
                (removed)="remove(fruit)">
                {{fruit}}
                <mat-icon matChipRemove>cancel</mat-icon>
            </mat-chip>
            <input placeholder="Добавить размещение..." #fruitInput [formControl]="fruitCtrl" [matAutocomplete]="auto"
                [matChipInputFor]="chipList" [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                (matChipInputTokenEnd)="add($event)">
        </mat-chip-list>
        <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
            <mat-option *ngFor="let fruit of filteredFruits | async" [value]="fruit">
                {{fruit}}
            </mat-option>
        </mat-autocomplete>
    </mat-form-field>
    <!---->
    <div>
        <button id="save" mat-stroked-button (click)="openCompliteDialog()" style="background: green; color: white;"
            *ngIf="orderStatus === 'завершен'">
            Завершить заказ
        </button>
        <button id="save" mat-stroked-button (click)="onSaveChanges()" [disabled]="!isDataChanged">
            Сохранить изменения
        </button>
        <button id="save" mat-stroked-button style="background-color: darkorange; color: white;"
            *ngIf="isAdminIshop && completButtonStatus === false" (click)="completOrder()">
            Собрать заказ
        </button>
    </div>
</div>

<div id="print-order-section" hidden>
    <h2 class="name">{{client.fIO}}</h2>
    <ng-container *ngIf="client.adress">
        <h3> Адрес: - </h3>
    </ng-container>
    <ng-container *ngIf="!client.adress">
        <h3> Адрес: {{client.adress}} </h3>
    </ng-container>
    Заказ №{{orderBodyAnsw.num}} -
    <text [ngSwitch]="orderBodyAnsw.name">
        <ng-template ngSwitchCase="8"> Долгиновский </ng-template>
        <ng-template ngSwitchCase="11"> Брест</ng-template>
        <ng-template ngSwitchCase="22"> Каменногорская </ng-template>
        <ng-template ngSwitchCase="25"> Молодечно </ng-template>
        <ng-template ngSwitchCase="21"> Тимирязева </ng-template>
        <ng-template ngSwitchCase="31"> Диамант </ng-template>
        <ng-template ngSwitchCase="33"> Гродно </ng-template>
        <ng-template ngSwitchCase="18">МОМО</ng-template>
        <ng-template ngSwitchCase="24">Независимости</ng-template>
        <ng-template ngSwitchCase="32">Жуково</ng-template>
        <ng-template ngSwitchCase="34">Экспобел</ng-template>
    </text>
    <br>
    Подзаказ №{{orderBodyAnsw.sub_num}}
    <br>

    <table mat-table [dataSource]="dataSource">

        <ng-container matColumnDef="article">
            <th mat-header-cell *matHeaderCellDef> Артикул </th>
            <td mat-cell *matCellDef="let element">
                <div style="margin: 0 20px;">{{element.article}}</div>
                <div>
                    <ng-container *ngIf="element.foto">
                        <img [src]="element.foto" width="100" />
                    </ng-container>
                    <ng-container *ngIf="!element.foto">
                        <img src="../../assets/no_photo.png" width="100" />
                    </ng-container>
                </div>
            </td>
        </ng-container>

        <ng-container matColumnDef="barcode">
            <th mat-header-cell *matHeaderCellDef> Штрихкод </th>
            <td mat-cell *matCellDef="let element">
                <mat-list>
                    <a mat-list-item *ngFor="let barcode of element.barcode | split:splitElement"> {{ barcode }} </a>
                </mat-list>
            </td>
        </ng-container>

        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> Наименование </th>
            <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>

        <ng-container matColumnDef="count">
            <th mat-header-cell *matHeaderCellDef> Количество </th>
            <td mat-cell *matCellDef="let element"> {{element.count_e}} </td>
        </ng-container>

        <ng-container matColumnDef="countReady">
            <th mat-header-cell *matHeaderCellDef> Собранно </th>
            <td mat-cell *matCellDef="let element"> {{element.count_g}} </td>
        </ng-container>

        <ng-container matColumnDef="mes">
            <th mat-header-cell *matHeaderCellDef> ед. изм. </th>
            <td mat-cell *matCellDef="let element"> {{element.measure}} </td>
        </ng-container>
        <ng-container matColumnDef="count_e_s">
            <th mat-header-cell *matHeaderCellDef>кол-во на складе</th>
            <td mat-cell *matCellDef="let element"> {{element.count_e_s}} </td>
        </ng-container>
        <ng-container matColumnDef="cost">
            <th mat-header-cell *matHeaderCellDef> Цена </th>
            <td mat-cell *matCellDef="let element"> {{element.price}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumnsPrint; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumnsPrint; let i = index"></tr>
    </table>

    <div style="
        font-size: 185px;
        position:fixed;
        bottom:10px;
        opacity:0.5;
        z-index:99;
        /* color:white; */
        margin-left: calc(50% - 180px);">
        {{orderBodyAnsw.num}}
    </div>
</div>

<div id="print-barcode-section" hidden *ngIf="belPostAnsw">
    <app-barcode-print-form [data]="belPostAnsw"></app-barcode-print-form>
</div>

<div id="print-belpost-barcode-section" hidden *ngIf="belpostData">
    <app-print-belpost-barcode [data]="belpostData"></app-print-belpost-barcode>
</div>