<p>Выберите количество штрихкодов</p>
<mat-button-toggle-group name="fontStyle" aria-label="Font Style" [(ngModel)]="selectedVal">
    <mat-button-toggle value="1">1</mat-button-toggle>
    <mat-button-toggle value="2">2</mat-button-toggle>
    <mat-button-toggle value="3">3</mat-button-toggle>
    <mat-button-toggle value="4">4</mat-button-toggle>
</mat-button-toggle-group>

<div mat-dialog-actions>
    <button mat-button (click)="onOkClick()" [disabled]="!selectedVal">Ok</button>
    <button mat-button (click)="onNoClick()">Отмена</button>
</div>