<div class='navbar' [ngClass]="userName == 'orlova_v' ? 'custom' : 'standart'">
    <div class="navbar-logo">
        <a href="#">IShop Mile</a>
    </div>
    <div class="butterfly" *ngIf="userName == 'orlova_v'">
        <div class="wing">
            <div class="bit"></div>
            <div class="bit"></div>
        </div>
        <div class="wing">
            <div class="bit"></div>
            <div class="bit"></div>
        </div>
    </div>
    <div class="navbar-links">
        <button mat-button [matMenuTriggerFor]="menu">
            <span class="material-icons">
                person
            </span>
            <span>Профиль</span>
            <span class="material-icons">
                arrow_drop_down
            </span>
        </button>
        <mat-menu #menu="matMenu">
            <a mat-menu-item>{{userName}}</a>
            <a mat-menu-item (click)="onClickLogout()">Выйти</a>
        </mat-menu>
    </div>
</div>