<h2 class="name">{{client.fIO}}</h2>
<ng-container *ngIf="client.adress === ' , , ,'">
    <h3> Адрес: - </h3>
</ng-container>
<ng-container *ngIf="client.adress !== ' , , ,'">
    <h3> Адрес: {{client.adress}} </h3>
</ng-container>
Заказ №{{data.num}} -
<text [ngSwitch]="data.name">
    <ng-template ngSwitchCase="8"> Долгиновский </ng-template>
    <ng-template ngSwitchCase="11"> Брест</ng-template>
    <ng-template ngSwitchCase="22"> Каменногорская </ng-template>
    <ng-template ngSwitchCase="25"> Молодечно </ng-template>
    <ng-template ngSwitchCase="21"> Тимирязева </ng-template>
    <ng-template ngSwitchCase="31"> Диамант </ng-template>
    <ng-template ngSwitchCase="33"> Гродно </ng-template>
    <ng-template ngSwitchCase="18">МОМО</ng-template>
    <ng-template ngSwitchCase="24">Независимости</ng-template>
    <ng-template ngSwitchCase="32">Жукова</ng-template>
    <ng-template ngSwitchCase="34">Экспобел</ng-template>
    <ng-template ngSwitchCase="35">Горецкого</ng-template>
</text>
<br>
Подзаказ №{{data.sub_num}}
<br>

<table mat-table [dataSource]="dataSource">

    <ng-container matColumnDef="article">
        <th mat-header-cell *matHeaderCellDef> Артикул </th>
        <td mat-cell *matCellDef="let element"> {{element.article}} </td>
    </ng-container>

    <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Наименование </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>

    <ng-container matColumnDef="barcode">
        <th mat-header-cell *matHeaderCellDef> Штрихкод </th>
        <td mat-cell *matCellDef="let element"> {{element.barcode}} </td>
    </ng-container>

    <ng-container matColumnDef="count">
        <th mat-header-cell *matHeaderCellDef> Количество </th>
        <td mat-cell *matCellDef="let element"> {{element.count_e}} </td>
    </ng-container>

    <ng-container matColumnDef="countReady">
        <th mat-header-cell *matHeaderCellDef> Собранно </th>
        <td mat-cell *matCellDef="let element"> {{element.count_g}} </td>
    </ng-container>

    <ng-container matColumnDef="cost">
        <th mat-header-cell *matHeaderCellDef> Цена </th>
        <td mat-cell *matCellDef="let element"> {{element.cost}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns; let i = index"></tr>
</table>