<mat-nav-list>
    <a mat-list-item [routerLink]="['orders/ready-build']" [routerLinkActive]="['active']"
        (click)="reload('/orders/ready-build')"> Готов к сборке </a>
    <a mat-list-item [routerLink]="['orders/uncompleted']" [routerLinkActive]="['active']"
        (click)="reload('/orders/uncompleted')"> Некомплект </a>
    <!-- <a mat-list-item [routerLink]="['orders/canceled']" [routerLinkActive]="['active']" (click)="reload('/orders/in-assembly')"> В сборке </a> -->
    <a mat-list-item [routerLink]="['orders/ready-shipment']" [routerLinkActive]="['active']"
        (click)="reload('/orders/ready-shipment')"> Готов к отгрузке </a>
    <!-- <a mat-list-item [routerLink]="['']"> Отправлен </a> -->
    <a mat-list-item [routerLink]="['/orders/completed']" [routerLinkActive]="['active']"
        (click)="reload('/orders/completed')"> Выполнен </a>
    <a mat-list-item [routerLink]="['orders/return-to-retail']" [routerLinkActive]="['active']"
        (click)="reload('/orders/return-to-retail')">Вернуть в секцию</a>
    <a mat-list-item [routerLink]="['orders/canceled']" [routerLinkActive]="['active']"
        (click)="reload('/orders/canceled')"> Отменен </a>
    <a mat-list-item [routerLink]="['orders/archive']" [routerLinkActive]="['active']"
        (click)="reload('/orders/archive')"> Архив </a>
</mat-nav-list>