<h2 mat-dialog-title>Выгрузка</h2>
<mat-dialog-content class="mat-typography">
    <div class="main-container">
        <div class="content-conteiner">
            <div>
                Выгрузка карточек
            </div>
            <button mat-raised-button>
                Запустить
            </button>
        </div>
        <div class="content-conteiner">
            <div>
                Выгрузка остатков
            </div>
            <button mat-raised-button>
                Запустить
            </button>
        </div>
        <div class="content-conteiner">
            <div>
                Полная выгрузка
            </div>
            <button mat-raised-button>
                Запустить
            </button>
        </div>
    </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Закрыть</button>
</mat-dialog-actions>