.mat-icon#close:hover {
    cursor: pointer;
    color: purple;
}
.gr-search {
    margin: 0.5em;
    display: flex;
    flex-wrap: wrap;
    user-select: none;
}
.gr-search > button {
    margin-left: 1em;
}
mat-form-field {
    width: 15em;
}
.bt-search {
    position: relative;
    top: 4.9px;

    height: 3.6em;
}

span {
    position: relative;
    top: 5px;

    margin-left: 1em;
    padding: 1.1em 0.5em;

    height: 1.3em;
    color: rgba(95, 95, 95, 0.75);

    border: 1px solid rgba(95, 95, 95, 0.5);
    border-radius: 5px;
}

.search-adres{
    margin-left: 1em;
    margin-top: -2em;
    display: flex;
    align-items: center;
}