<ng-scrollbar #scrollable [visibility]="'hover'" style="height: 79vh">
    <div class="table-container mat-elevation-z8">
        <table mat-table [dataSource]="orderListAnsw" class="table-hover">

            <ng-container matColumnDef="check">
                <th mat-header-cell *matHeaderCellDef>
                    <mat-checkbox class="check" [checked]="checkColumn" (change)="turnOnCheckColumn($event.checked)">
                    </mat-checkbox>
                </th>
                <td mat-cell *matCellDef="let element">
                    <mat-checkbox class="check" *ngIf="checkColumn && element.status === 'не принят'"
                        (change)="selectOrder(element)"></mat-checkbox>
                </td>
            </ng-container>

            <ng-container matColumnDef="status">
                <th mat-header-cell *matHeaderCellDef> Статус </th>
                <td mat-cell *matCellDef="let element" (mouseenter)="ShowDialogDataOrder(element)"
                    (mouseleave)="HideDialogDataOrder(element)">
                    <div [ngSwitch]="element.status">
                        <ng-template ngSwitchCase="не принят">
                            <div class="ready-collect"> готов к сборке </div>
                        </ng-template>
                        <ng-template ngSwitchCase="ОТЛОЖЕН">
                            <div class="set-aside"> отложен </div>
                        </ng-template>
                        <ng-template ngSwitchCase="в сборке">
                            <div class="assembly"> в сборке </div>
                        </ng-template>
                        <ng-template ngSwitchCase="в паузе">
                            <div class="shortage"> некомплект </div>
                        </ng-template>
                        <ng-template ngSwitchCase="завершен">
                            <div class="ready-shipment"> готов к отгрузке </div>
                        </ng-template>
                        <ng-template ngSwitchCase="Отмена">
                            <div class="cancel"> отмена </div>
                        </ng-template>
                        <ng-template ngSwitchCase="Отправлен">
                            <div class="return"> отправлен </div>
                        </ng-template>
                        <ng-template ngSwitchCase="Выполнен">
                            <div class="return"> Выполнен</div>
                        </ng-template>
                        <div *ngIf="element.isActive === true" class="order-info-conteiner">
                            <app-show-data-order-form [sub_order_id]="element.order.sub_num"></app-show-data-order-form>
                        </div>
                    </div>
                </td>
            </ng-container>

            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef> Заказ </th>
                <td mat-cell *matCellDef="let element">
                    <a [routerLink]="['/order', element.order.sub_num]"> № {{element.order.num}} -
                        <ng-container *ngIf="element.order.name"></ng-container>
                        <a [ngSwitch]="element.order.name">
                            <ng-template ngSwitchCase="8"> Долгиновский </ng-template>
                            <ng-template ngSwitchCase="11"> Брест</ng-template>
                            <ng-template ngSwitchCase="22"> Каменногорская </ng-template>
                            <ng-template ngSwitchCase="25"> Молодечно </ng-template>
                            <ng-template ngSwitchCase="21"> Тимирязева </ng-template>
                            <ng-template ngSwitchCase="31"> Диамант </ng-template>
                            <ng-template ngSwitchCase="33"> Гродно </ng-template>
                            <ng-template ngSwitchCase="18">МОМО</ng-template>
                            <ng-template ngSwitchCase="24">Независимости</ng-template>
                            <ng-template ngSwitchCase="32">Жуково</ng-template>
                            <ng-template ngSwitchCase="34">Экспобел</ng-template>
                            <ng-template ngSwitchDefault> Тайный склад №8 </ng-template>
                        </a>
                    </a>
                    <br>
                    <small class="datetime"> {{element.order.datetime}} </small>
                    <small> Тип доставки: </small>
                    <small class="delivery-type" *ngIf="element.order.delivery_type"> {{element.order.delivery_type}}
                    </small>
                    <small class="delivery-type" *ngIf="!element.order.delivery_type"> самовывоз </small>
                </td>
            </ng-container>

            <ng-container matColumnDef="client">
                <th mat-header-cell *matHeaderCellDef> Заказчик </th>
                <td mat-cell *matCellDef="let element">
                    <div class="fio">{{element.aboutClient.fIO}}</div>
                    <ng-container *ngIf="element.aboutClient.adress !== ' , , ,'"> <small>
                            {{element.aboutClient.adress}} </small></ng-container>
                </td>
            </ng-container>

            <ng-container matColumnDef="collector">
                <th mat-header-cell *matHeaderCellDef> Сборщик </th>
                <td mat-cell *matCellDef="let element"> {{element.aboutWoker}} </td>
            </ng-container>

            <ng-container matColumnDef="place">
                <th mat-header-cell *matHeaderCellDef> Место </th>
                <td mat-cell *matCellDef="let element"> {{element.place}} </td>
            </ng-container>

            <ng-container matColumnDef="note">
                <th mat-header-cell *matHeaderCellDef> Примечание </th>
                <td mat-cell *matCellDef="let element">
                    <mat-list>
                        <a mat-list-item *ngFor="let barcode of element.info | split:splitElement"> {{ barcode }} </a>
                    </mat-list>
                </td>
            </ng-container>

            <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef> Действие </th>
                <td mat-cell *matCellDef="let element">

                    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                        <mat-icon>more_vert</mat-icon>
                    </button>

                    <mat-menu #menu="matMenu">

                        <button mat-menu-item (click)="onClickPauseOrGo(element)"
                            *ngIf="element.status === 'не принят'">
                            <mat-icon>pause_circle_outline</mat-icon>
                            <span>Приостановить</span>
                        </button>

                        <button mat-menu-item (click)="onClickPauseOrGo(element)" *ngIf="element.status === 'ОТЛОЖЕН'">
                            <mat-icon>play_arrow</mat-icon>
                            <span>Возобновить</span>
                        </button>

                        <button mat-menu-item (click)="onClickShow(element.order.sub_num)">
                            <mat-icon>pageview</mat-icon>
                            <span>Просмотр</span>
                        </button>

                        <button mat-menu-item (click)="onClickWriteToCashbox(element)"
                            *ngIf="element.order.isCassa && element.status === 'завершен'"
                            [disabled]="element.order.isCassaPause">
                            <mat-icon style="color: rgba(65, 155, 38, 0.877);">move_to_inbox</mat-icon>
                            <span style="color: rgba(65, 155, 38, 0.877);">Запись в кассу</span>
                        </button>

                        <button mat-menu-item (click)="onClickReturnProduct(element)" *ngIf="(element.status === 'ОТЛОЖЕН'
                            || element.status === 'Отмена'
                            || element.status === 'Отправлен'
                            || element.status === 'завершен')
                            && isAdminIshop">
                            <mat-icon style="color: rgb(21, 197, 188);">move_to_inbox</mat-icon>
                            <span style="color: rgb(21, 197, 188);">Возврат продукции</span>
                        </button>

                        <button mat-menu-item *ngIf="(element.status === 'в паузе'
                            || element.status === 'завершен')
                            && isAdminIshop" (click)="onClickReturnToAssembly(element.order.sub_num)">
                            <mat-icon style="color: blue;">keyboard_return</mat-icon>
                            <span style="color: blue;">Вернуть в сборку</span>
                        </button>

                        <button mat-menu-item (click)="onClickSendToBitrix(element)"
                            *ngIf="(element.status === 'в паузе' || element.status === 'завершен') && isAdminIshop"
                            [disabled]="element.order.isSendToBitrix">
                            <mat-icon style="color: rgb(255, 166, 0);">send</mat-icon>
                            <span style="color: rgb(255, 166, 0);">Оправить в OMS</span>
                        </button>

                        <button mat-menu-item *ngIf="isAdminIshop" id="butt-cancel" color="primary"
                            class="btn btn-default" mwlConfirmationPopover
                            [popoverMessage]="'Вы действительно хотите <b>удалить</b> подзаказ?'" [confirmText]="'Да'"
                            [cancelText]="'Нет'" placement="left" (click)="$event.stopPropagation();"
                            (confirm)="onDelete(element)" (cancel)="cancelClicked = true">
                            <mat-icon style="color: red;">delete_forever</mat-icon>
                            <span style="color: red;">Удалить</span>
                        </button>
                        <button mat-menu-item *ngIf="(element.status === 'завершен')" color="primary"
                            class="btn btn-default" mwlConfirmationPopover
                            [popoverMessage]="'Вы действительно хотите <b>завершить</b> подзаказ?'" [confirmText]="'Да'"
                            [cancelText]="'Нет'" placement="left" confirmButtonType="success"
                            (click)="$event.stopPropagation()" (cancel)="cancelClicked = true"
                            (confirm)="onColickCompleteOrder(element)">
                            <mat-icon style="color: green;">done</mat-icon>
                            <span style="color: green;">Завершить заказ</span>
                        </button>
                    </mat-menu>
                </td>
            </ng-container>
            <ng-container matColumnDef="repeatStatus">
                <th mat-header-cell *matHeaderCellDef> Отправлен повторно </th>
                <td mat-cell *matCellDef="let element">
                    <div *ngIf="element.repeatStatus === 'True'">
                        <mat-icon style="user-select: none;">repeat</mat-icon>
                    </div>
                </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </div>
</ng-scrollbar>