    ::ng-deep .mat-form-field-wrapper{
        padding: 0!important;
    }
    *::-webkit-scrollbar,
    html *::-webkit-scrollbar {
        height: 5px;
        width: 4px;
    }
    *::-webkit-scrollbar-track,
    html *::-webkit-scrollbar-track {
        background: inherit;
        margin: 8px;
    }
    *::-webkit-scrollbar-thumb,
    html *::-webkit-scrollbar-thumb {
        background-color: #6440b6;
        border-radius: 5px;
    }
    .main{
        height: 94vh;
        width: 100%;
        .filter-conteiner{
            .filter-conteiner-box{
                display:  flex;
                margin-top: 5px;
                mat-form-field{
                    margin-left: 10px;
                }
                button{
                    margin-left: 10px;
                }
            }
        }
    .table-conteiner{
        width: 100%;
        height: 85.5%;
        overflow: auto;
        border-radius: 20px;
        table{
            width: 100%;
            text-align: center;
            font-size: 1.32em;
            border-collapse: collapse;
            tr{
                height: 40px;
                &:first-child{
                    font-weight: bold;
                    background-color: #6440b6;
                    color: #fff;
                }
                
            }
        }
    }
    }