<!-- <mat-form-field appearance="outline">
    <mat-label>Выберите дату</mat-label>
    <input matInput [matDatepicker]="picker" [(ngModel)]="selectedDate">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
</mat-form-field> -->
<div class="main">
    <div class="input-conteiner">
        <mat-form-field appearance="outline">
            <mat-label>Номер заказа</mat-label>
            <input type="text" matInput placeholder="Введите номер заказа" [(ngModel)]="searchOrder"
                (keyup.enter)="getHistoryByOrder()">
        </mat-form-field>
        <button mat-raised-button (click)="getHistoryByOrder()" [disabled]="!searchOrder">Отобразить</button>
        <button mat-raised-button (click)="getHistory()">Отобразить все</button>
    </div>

    <div class="table-container">
        <table>
            <tr>
                <th *ngFor="let h of displayedColumns">
                    {{h}}
                </th>
            </tr>
            <tr *ngFor="let rows of historyList| slice: 0: 200" class="row-table">
                <td>
                    {{rows.order}}
                </td>
                <td>
                    {{rows.statusChanged}}
                </td>
                <td>
                    {{rows.userLogin}}
                </td>
                <td>
                    {{rows.date | date:'yyyy-MM-dd // HH:mm:ss'}}
                </td>
            </tr>
        </table>
    </div>
</div>